server:
  port: 8082
spring:
  application:
    name: organisation-service
  datasource:
    url: jdbc:mysql://localhost:3306/hltcommerce_org?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true

