server:
  port: 8083
spring:
  application:
    name: placement-service
  datasource:
    url: jdbc:mysql://localhost:3306/hltcommerce_placement?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true
  data:
    redis:
      host: localhost
      port: 6379

