server:
  port: 8084
spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:mysql://localhost:3306/hltcommerce_wallet?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true
  data:
    redis:
      host: localhost
      port: 6379

