server:
  port: 9443
spring:
  application:
    name: gateway-service
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1
        - id: organisation-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/orgs/**
          filters:
            - StripPrefix=1
        - id: placement-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/placement/**
          filters:
            - StripPrefix=1
        - id: wallet-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/wallet/**
          filters:
            - StripPrefix=1
hltcommerce:
  gateway:
    check-token-cache-ttl-seconds: 60

