server:
  port: 8080
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/hltcommerce_auth?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
hltcommerce:
  auth:
    token-store: redis # redis|jdbc

