server:
  port: 8761
spring:
  application:
    name: discovery-service
  main:
    web-application-type: servlet
  cloud:
    discovery:
      enabled: true

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

